<% if flash[:errors] %>
    <%= flash[:errors] %>
<% end %>
<div class="text-center">
    <%= image_tag("NFS.png", :alt => "rss feed", :height => "300") %>
    <%= image_tag("car_sketch.jpg", :alt => "rss feed") %>
   
</div>

